<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReaRobot"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Note.FileAttachmentActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".patientAccount.editingPatientActivity"
            android:exported="false" />
        <activity
            android:name=".medicalRecord.editingMedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".medicalRecord.MedicalRecordDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".medicalRecord.FullNameActivity"
            android:exported="false" />
        <activity
            android:name=".medicalRecord.SearchMedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".Note.editingActivity"
            android:exported="false" />
        <activity
            android:name=".Note.NoteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Note.NotesListActivity"
            android:exported="false" />
        <activity
            android:name=".Note.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".PatientMedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".AddMedicalRecordPatientActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".SearchRecipientActivity"
            android:exported="false" />
        <activity
            android:name=".patientAccount.PatientProfileActivity"
            android:exported="false" />
        <activity
            android:name=".patientAccount.SearchPatientActivity"
            android:exported="false" />
        <activity
            android:name=".RecordAccessActivity"
            android:exported="false" />
        <activity
            android:name=".medicalRecord.AddMedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".patientAccount.AddPatientActivity"
            android:exported="false" />
        <activity
            android:name=".UserAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LogInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OutgoingInvitationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.IncomingInvitationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.VideoConferenceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>